button {
    width: 250px;
    height: 52px;
    border: 1px solid $color-gold;
    box-sizing: border-box;
    background-color: transparent;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: $color-gold;
    margin: 1em 0em;
    &:hover{
        background-color: $color-gold;
        color: $color-white;
    }
    @include respond-to('small'){
        width: 191px;
        height: 42px;
    }
}
