* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', helvetica, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  @include respond-to('small'){
  &{
    padding-left: 0px;
    padding-right: 0px
  }
  }
}
p{
  @include respond-to('small'){
    font-size: 14px;
  }
}
h1 {
  font-family: 'Playfair Display', Georgia, serif;
  font-style: normal;
  font-size: 60px;
  font-weight: bold;
}
h2 {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 40px;
  font-weight: bold;
  & span{
    color: $color-grey-light;
  }
  @include respond-to('small'){
    & {
      font-size: 20px;
    }
  }
}
h3 {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 22px;
  font-weight: bold;
}
h4 {
  font-family: 'Playfair Display', Georgia, serif;
}
a {
  font-family: 'Poppins', helvetica, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: $color-gold;
  text-decoration: none !important;
}
hr{
border-top:1px solid $color-grey-lighter;
color: transparent;
margin-top: 26px;
&:nth-child(1){
    margin-right: auto;
}
&:nth-child(2){
    margin-left: auto;
}
@include respond-to('medium'){
  display: none;
}
}
.center{
text-align: center;
}
.center_horizontally{
margin: auto 0;
}
@include respond-to('small') {
.mobile_hide{
    display: none;
}

.center_mobile{
  margin: 0em auto;
}
}
