* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', helvetica, arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  
  h1 {
    font-family: 'Playfair Display', Georgia, serif;
    font-style: normal;
    font-size: 60px;
    font-weight: bold;
  }
  h2 {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    & span{
      color: $color-grey-light;
  }
  }
  h3 {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 22px;
    font-weight: bold;
  }
  h4 {
    font-family: 'Playfair Display', Georgia, serif;
  }
  a {
    font-family: 'Poppins', helvetica, arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: $color-gold;
    text-decoration: none !important;
  }
  hr{
    align-items: center;
    max-width: 430px;
    border-top:1px solid $color-grey-lighter;
    color: transparent;
    &:nth-child(2){

        margin-right: auto;
        
    }
    &:nth-child(2){
        margin-left: auto;
   
    }
}
  .center{
    text-align: center;
  }
  
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 499px) {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }