.hero_grid {
    max-width: 1290px;
    max-height: 800px;
    margin: 0 auto;
}
.hero_heading {
    
    & p {
        color:$color-gold;
        margin-bottom: 0.5em;
        }
    }

.hero {
    min-height: 800px;
    background-image: url(img/cake.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 5rem;
    background-color: $color-grey-lightest;
}

.hero_content {
    position: absolute;
    margin: 0;
    margin-top: 233px;
}


.hero_text {
    color: $color-grey;
    line-height: 32px;
}

@media (max-width: 499px) {
    .hero_heading {
    
        & p {
            margin-bottom: 0.5em;
            text-align: center;
        }
        & h2 {
            margin-bottom: 1em;
            text-align: center;
        }
    }
}
