/* hero */

.hero_container {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.hero {
    height: 800px;
    background-image: url(cake-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
    
.hero_grid {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
}

.hero_content {
    width: 50%;
    margin: auto;
}

   
g_hero_kicker {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

g_hero_title_big {
    font-size: 40px;
    line-height: 53.32px
}

g_hero_title_small {
    font-size: 16px;
    line-height: 24px
}

g_hero_text {
    font-size: 18px;
    line-height: 32px  
}

g_button button--dark {
position: absolute;
width: 250px;
height: 52px;
left: 0px;
top: 0px;

border: 1px solid #E3CDB1;
box-sizing: border-box;
} 


g_hero_buttons {
    width: 107px;
    height: 24px;
    top: 26px;
    left: 251px;
    font-size: 16px;
    line-height: 24px;
}

g_hero_button {
    width: 250px;
    height: 52px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    border: 1px solid #E3CDB1;
    box-sizing: border-box;
}
