.latest_recipes{
    background: linear-gradient(to top,$color-grey-lightest 71%, transparent 0%);
    & row:nth-last-of-type(1){
        padding-bottom: -1em;
    }
    @include respond-to('small'){
        & p{
            margin-bottom: 0.5em;
            text-align: center;
        }
        & h2{
            text-align: center;
        }
    }
}
.latest_recipes_heading{
    & p{
        color:$color-gold;
        margin-bottom: 0.5em;
        }
}
.recipes_img{
    width: 100%;
}

.latest_recipes_card{
    @include respond-to('small'){
    margin-left: 1em;
    margin-right: 1em;
    }
}
.bottom_card{
    background-color: $color-white;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.05);
    height: 100px;
    padding: 1.5em;
    & h4{
        color:$color-grey-light;
    }
}
.bottom_card_info{
    display: flex;
    align-items: center;
    & p{
        color:$color-grey-medium;
        font-weight: 300;
        margin-bottom: 0.5em;
    }
    &:last-of-type{
        justify-content: space-between;
    }
    & a:last-of-type{
        display: none;
    }
    @include respond-to('small'){
        & a:first-of-type{
            display: none;
        }
        & a:last-of-type{
            display: block;
        }
    }
}
