
.all_recipes{
    margin-top: 180px;
}
.all_recipes_heading {
    & p {
    color: $color-gold;
    margin-bottom: 0.5em; 
    }
    @include respond_to('small'){
        & {
            text-align: center;
        }
        & h1 {
            font-size: 2em;
        }
    }
}
.show_only_video{
    margin-top: 4em;
    @include respond_to('small'){
        & {
            text-align: center;
            margin-top: 0em;
        }
    }
}
.bottom_card {
    background-color: $color-white;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.05);
    height: 100px;
    padding: 1.5em;
    & h4 {
        color:$color-grey-light;
    }
}
.bottom_card_info {
    display: flex;
    align-items: center;

    & p {
        color:$color-grey-medium;
        font-weight: 300;
        margin-bottom: 0.5em;
    }
    &:last-of-type {
        justify-content: space-between;
    }
}
.all_recipes_img {
    width: 100%;
}
.heading_inline {
    display: flex;
    justify-content: space-between;
    & h3 {
        margin-bottom: 0.5rem;
        margin-top: auto; 
    }
    @include respond_to('small'){
        & h1{
            margin: auto;;
        } 
    }
}