@import 'styles/config';


.recipe_page_container {
  margin-bottom: 2rem;

  .first-word {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 18px;
  }

  .second-word {
    font-family: 'Poppins';
    color: $color-grey;
    font-size: 18px;
    font-weight: 300;
    margin-right: 1rem;
  }
}

.img {
  margin-right: 1rem;
}

.icon {
  position: absolute;
  height: 37.5px;
  margin-top: 70px;  
  margin-left: 130px; 
}

