.videopage_hero{
 padding-top: 13.5em;
 padding-bottom: 8em;
    & .row{
        position: relative;
    }
    & h1{
        color: $color-white;
    }
    & p{
        font-size: 1em;
        color: $color-grey-medium;
        line-height: 2em;
    }
    @include respond-to('small'){
        & p{
            display: none;
        }
        & h1{
            font-size: 2em;
            text-align: center;
            color: $color-black;
        }
    }
}
.videopage_hero_background{
    position: absolute;
    z-index: 0;
    height: 570px;
    width: 100%;
    background-color: $color-black;
}
.videopage_hero_background_img{
    background-image:
    linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%),
    url('img/video.png');
    width: 1060px;
    height: 100%;
    background-size: cover;
    float: right;
}
.images_play_button_circle{
    height: 138px;
    width: 138px;
    margin-top: 2em;
    @include respond-to('small'){
        display: none;
    }
}
.videopage_recipes {
    & h1 {
    height: 80px;
    }
    & .labels {
        height: 17px;
    }
}
.labels {
    margin: 1.5em 0em;
    padding: 0;
    overflow: hidden;
    display: table;
    & ul li{
        height: 22px;
    }
    & ul {
        list-style-type: none;
        float: left;
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        width: 400px;
        @include respond-to('small'){
            display: block;
            & li{
                margin-bottom: 1em;
            }
        }
    }
}    
.videopage_img {
    & img{
    width: 1011px;
    height: 570px;
    top: 80px;
    left: 589px;  
    }
}
