.video_recipes{
    @include respond-to('small'){
        margin: 0em 1em;
    }
}
.video_recipes_heading{
    & p {
        color: #E3CDB1;
        margin-bottom: 0.5em;
    }
    @include respond-to('small'){
        text-align: center;
    }
} 
.bottom_card {
    background-color: $color-white;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.05);
    height: 100px;
    padding: 1.5em;
    & h4{
        color:$color-grey-light;
    }
}
.bottom_card_info {
    display: flex;
    align-items: center;
    & p{
        color:$color-grey-medium;
        font-weight: 300;
        margin-bottom: 0.5em;
    }
    &:last-of-type {
        justify-content: space-between;
    }
}
.video_recipes_image{
    position: relative;
    width: 100%;
    & .images_of_recipe{
        display: block;
        width: 100%;
        height: auto;
    }
    & .images_play_button{
        height: 37.5px;
        width: 30px;
        position: absolute; 
        z-index: 2;
        display: none;
        transition: .5s ease;
        //miðjusetja
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
.overlay {
    position: absolute; 
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $color-gold;
  }
  .video_recipes_image:hover {
        & .overlay {
            opacity: 0.7;
        }
        & .images_play_button{
            display: block;
        }
    }   